<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="style/login.css" />
    <title>tes</title>
</head>

<body>
    <div class="wrapper fadeInDown">
		<div id="formContent">
		  <!-- Tabs Titles -->
	  
		  <!-- Icon -->
		  <div class="fadeIn first">
			<img src="style/book.jpg" id="icon" alt="User Icon" />
		  </div>
	  
		  <!-- Login Form -->
		  <form action="/login-user" method="post">
			<input type="text" id="username" class="fadeIn second" name="username" placeholder="login" required>
			<input type="text" id="password" class="fadeIn third" name="password" placeholder="password" required>
			<input type="submit" class="fadeIn fourth" value="Log In">
			<p class="<%=Alert%>" style="color:red">Wrong User/Password</p>
		  </form>
	  
		  <!-- Remind Passowrd -->
		  <div id="formFooter">
			<a class="underlineHover" href="#">Forgot Password?</a>
		  </div>
	  
		</div>
	  </div>

    <script src="assets/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script>
        $(function () {
            
        });
    </script>
</body>

</html>