<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="style/main.css" />
    <title>tes</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Pustaka Nusantara</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Pelanggan
                        </a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="/registrasi">Registrasi Pelanggan</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Buku
                        </a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="/add_buku">Tambah Buku</a></li>
                          <li><a class="dropdown-item" href="/add_author">Tambah Author</a></li>
                          <li><a class="dropdown-item" href="/tambah_stok_buku">Tambah Stok Buku</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Mesin
                        </a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="/tambah-mesin">Tambah Mesin</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Peminjaman
                        </a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="/p-buku">Peminjaman Buku</a></li>
                          <li><a class="dropdown-item" href="/pp-buku">Pengembalian Buku</a></li>
                          <li><a class="dropdown-item" href="/p-mesin">Peminjaman Mesin</a></li>
                          <li><a class="dropdown-item" href="/pp-mesin">Pengembalian Mesin</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                <form action="<%=session.action%>" method="<%=session.method%>">
                    <button class="btn btn-primary" id="<%=session.login_stat%>" style="margin-left:5px"><%=session.login_stat%></button>
                </form>
            </div>
        </div>
    </nav>
    <div class="d-flex justify-content-center" style="margin-top: 60px;">
        <form class="form-control form-inline shadow p-3 mb-5 bg-body rounded" action="/add_mesin" method="post" style="width:50%;float:left;">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="mesin">Tipe Mesin</label>
                </div>
                <select class="form-select form-select-lg mb-3" name="mesin" id="mesin" required>
                    <option selected></option>
                    <option value="FC">Fotocopy</option>
                    <option value="PC">Komputer</option>
                    <option value="SC">Scanner</option>
                    <option value="PR">Printer</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary input">Tambahkan Mesin</button>
        </form>
    </div>

    <script src="assets/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script>
        $(function () {
            $("#list-genre").load("elements/genreBuku.html");
            $("#list-jenis").load("elements/jenisBuku.html");
            $("#panel").load("elements/user-panel.html");
            $(".dropdown-toggle").dropdown();
            $('#btnAdd').click(function () {
                $("#auth").clone().removeAttr("id").appendTo("#list-author");
            });
        });
    </script>
</body>

</html>