<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>tes</title>
    <h1><%= title %></h1>
    <div>
        <ul>
            <% if (datas != undefined) {%>
            <%for (let data of datas) {%>
            <li><%=data.NAMA_BUKU%> - <%=data.GENRE_BUKU%> - <%=data.JENIS_BUKU%></li>
            <% } %>
            <%}%>
        </ul>
    </div>
    <div>
        <form action="/add_buku" method="get">
            <button type="submit" class="btn btn-primary">Tambah Buku</button>
        </form>
        <form action="/add_author" method="get">
            <button type="submit" class="btn btn-primary">Tambah Teknisi</button>
        </form>
        <form action="/add_pustakawan" method="get">
            <button type="submit" class="btn btn-primary">Tambah Pustakawan</button>
        </form>
        <form action="/add_teknisi" method="get">
            <button type="submit" class="btn btn-primary">Tambah Teknisi</button>
        </form>
    </div>
</head>
<body>
    
</body>
</html>