<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="style/main.css" />
    <div id="navbar"></div>
</head>
<body>
    <div class="container-fluid">
        <div class="left-page">
            <div id="panel"></div>
        </div>
        <div class="mid-page">
            <div class="cards">
                <%for (let data of datas) {%>
                    <div class="card border-secondary mb-3" style="width: 160px;">
                      <div class="card-body">
                        <h5 class="card-title"><%=data.NAMA_BUKU%></h5>
                        <p class="card-text"><%=data.GENRE_BUKU%></p>
                        <p class="card-text"><small class="text-muted"><%=data.JENIS_BUKU%></small></p>
                      </div>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
   
    <script src="assets/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script>
        $(function () {
            $("#navbar").load("elements/navigation.html");
            $("#panel").load("elements/user-panel.html");
        });
    </script>
</body>


</html>