body {
    margin-top: 80px;
    justify-content: center;
    background-image: url('background-img.jpg');
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;

}
.container div{
  padding: 5px;
  border: 1px solid black;
  margin-top: 5px;
}
.left-page{
    float: left;
    width: 20%;
    margin: 5px;
    background-color: black;
}
.mid-page{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
}
.right-page{
    float: right;
    width: 20%;
}

.nav{
    border: 20px solid black;
}
.nav-left{
    float: left;
    width: 50%;
}
.nav-right{
    float: right;
    width: 50%;
    text-align: right;
}
.book{
    font-size: 0.9em;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
 
.card {
    height: 100%;
    font-size: 0.9em;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
} 
.card-title{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.input{
    margin: 5px;
    overflow: visible;
}
.visible {
  visibility: visible !important;
}
.invisible {
  visibility: hidden !important;
}
.btn-narvar{
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}
.centered-element {
    margin: 0;
    transform: translateY(-50%);
  }